doctype html
head
  link(rel='stylesheet' href='stylesheet.css')
  title navbar
header
  button#home.Button1
    img(src='' alt='logo')
    a(href='#home button as alogo')
  nav.navList
    ul
      li
        a(href='') Home
      li
        a(href='') Bids
      li
        a(href='') About
      li
        a(href='') Contact us
  button#Login.Button2(type='button') Login
footer
  div
    | Copyright &copy;2022
