doctype html
head
  link(rel='stylesheet' href='./public/stylesheets/layout.css')
  title Home
header
  button#home.Button1
    img(src='../images/logo.png' alt='logo')
    a(href='#home button as alogo')
  nav.navList
    ul
      li
        a(href='') Home
      li
        a(href='') Bids
      li
        a(href='') About
      li
        a(href='') Contact us
  button#Login.Button2(type='button') Login
body
    block content
footer
    | Copyright &copy;2022
