title
link(rel='stylesheet', href='./css/style.css')
.loginbox
  img.avatar(src='./img/loginDark.jpg', alt='image')
  h1 login here
    
  form(action='')
    p User name
    input(type='text', placeholder='Enter user name')
    p Password
    input(type='password', placeholder='Enter password')
    input(type='submit', name='', value='login')
    a(href='') Forgot your password?
    a(href='') Dont have an account?
